<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seth Campaign Results</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">

</head>
<body>
    <div id="container">
        <h1 id="header">District B Election Results</h1>
        
        <div id="resultsBody">
            <h2>Total Votes</h2>
            <table id="resultsTable">
                <thead>
                    <tr>
                        <th>Seth</th>
                        <th>Jay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="results">
                        <td>{{ content.sethVotes |safe }}</td>
                        <td>{{ content.jayVotes |safe }}</td>
                    </tr>
                </tbody>
            </table>

            <h3>{{ content.precintsReported |safe }} of {{ content.totalPrecints |safe }} Precints Reporting</h3>
            <h3 id="lastUpdated">Last Updated: {{ content.lastUpdated |safe }}</h3>
        </div>

        <div id=footer>
            <p>If you want to be added to the subscriber list, add your phone number below in the following format: <strong>+15043387662</strong></p>
            <form action="/newSubscriber" method="POST">
                <input type="text" name="phoneNumber" placeholder="+15043387662">
                <button>Sign Up</button>
            </form>
        </div>
    </div>
</body>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>
